.go-header {

  background: rgb(139,195,74);
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  padding: 1px;

    .menu-content {
      padding: 10px;
      display:flex;
      flex-direction: row;
      max-width: 450px;
      width: 100%;
      align-items: stretch;
      text-align: center;

        span {
            color: white;
        }

        .text-left {
          order: 1;
          flex: 1;
        }

        .text-middle {
          order: 2;
          flex: 1;
        }

        .text-right {
          order: 3;
          flex: 1;
        }
    }
}
