.go-header {

  background: rgb(139,195,74);
  padding: 10px;
  width: 100%;

    .menu-content {
        display:flex;
        max-width:300px;
        margin:auto;

        span {
            color: white;
        }

        .text-left {
            text-align: left;
            width:33%;
        }

        .text-middle {
            text-align: center;
            width:33%;
        }

        .text-right {
            text-align: right;
            width:33%;
        }
    }
}
