/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

#item1 {
  background: #69D2E7;
  //width:100%;
  //max-width: 450px;
}

#item2 {
  background: #F38630;
  //max-width: 450px;
}

#item3 {
  background: #A7DBD8;
  //max-width: 450px;
}

.floating-content {
  position: relative;
  float: left;
  max-width:450px;
  width: 100vw;
  height: 100%;
}

.carouselWrap {
  width: 8100px;;
  background: white;
  height: 100%;
  //line-height: 568px;
  text-align: center;
}

.animate {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

* { margin: 0px; padding: 0px; }

.device {
  width: 100%;
	//height: 100%;
	//-webkit-background-size: cover;
	//   -moz-background-size: cover;
	//     -o-background-size: cover;
	//        background-size: cover;
	position: absolute; margin: auto;
	top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.content {

  height:100%;
  /*
  width:100%;
	background: #375585;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 300;
  */
	-webkit-transition: all 250ms ease;
	   -moz-transition: all 250ms ease;
	    -ms-transition: all 250ms ease;
	     -o-transition: all 250ms ease;
	        transition: all 250ms ease;
}



/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
