
#item1 {
  background: #69D2E7;
}

#item2 {
  background: #F38630;
}

#item3 {
  background: #A7DBD8;
}

#floating-content-0 {
  position: absolute;
  height: 100%;
  left: -100%;
  width: 100%;
}

#floating-content-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;

}

#floating-content-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 100%;
}

.carouselWrap {
  position:absolute;
  background: white;
  height: 100%;
  text-align: center;
  width: 100%;
}

.animate {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

* { margin: 0px; padding: 0px; }

.device {
  width: 100%;
	position: absolute; margin: auto;
	top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


.content {
  height:100%;
	-webkit-transition: all 250ms ease;
	   -moz-transition: all 250ms ease;
	    -ms-transition: all 250ms ease;
	     -o-transition: all 250ms ease;
	        transition: all 250ms ease;
}
