      <div class="carouselWrap"
            hm-panmove="move($event)"
            hm-panstart="start($event)"
            hm-panleft="next()"
            hm-panright="previous()"
            hm-panend="end($event)"
            hm-recognizer-options='{"type": "pan", "stopPropagation": true, "preventDefault": true}'

    >
          <hole class="floating-content-0 my-hole" index="index-1"></hole>
          <hole class="floating-content-1 my-hole" index="index"></hole>
          <hole class="floating-content-2 my-hole" index="index+1"></hole>

    </div>
