<div class="carouselWrap"
      hm-panmove="move($event)"
      hm-panstart="start($event)"
      hm-panend="end($event)"
      hm-recognizer-options='{"type": "pan", "stopPropagation": true, "preventDefault": true, "invokeApply": false, "directions":"DIRECTION_HORIZONTAL"}'
>
    <hole id="floating-content-0" index="index-1" hide-scroll-y="hideScrollY"></hole>
    <hole id="floating-content-1" index="index" hide-scroll-y="hideScrollY"></hole>
    <hole id="floating-content-2" index="index+1" hide-scroll-y="hideScrollY"></hole>

</div>
