/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

#item1 {
  background: #69D2E7;
  height:100%;
  width:450px;
}

#item2 {
  background: #F38630;
  height: 100%;
  width: 450px;
}

#item3 {
  background: #A7DBD8;
  height: 100%;
  width: 450px;
}

div.float--left {
  float: left;
}

.carouselWrap {
  width: 1036px;
  background: white;
  height: 100%;
  color: white;
  font-family: "Gill Sans / Gill Sans MT", sans-serif;
  font-size: 3em;
  line-height: 568px;
  text-align: center;
}

.animate {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s;
}

* { margin: 0px; padding: 0px; }

.device {
  width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	position: absolute; margin: auto;
	top: 0px; bottom: 100px; left: 0px; right: 0px;
}


.content {
  height:100%;
  width:100%;
	background: #375585;
	position: absolute;
	top: 0px; left: 0px;
	z-index: 300;
	-webkit-transition: all 250ms ease;
	   -moz-transition: all 250ms ease;
	    -ms-transition: all 250ms ease;
	     -o-transition: all 250ms ease;
	        transition: all 250ms ease;
}



/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
