      <div class="carouselWrap"
            hm-panmove="move($event)"
            hm-panstart="start($event)"
            hm-panend="end($event)"
            hm-recognizer-options='{"type": "pan", "stopPropagation": true, "preventDefault": true}'
            ng-style="{'width': carouselWidth, 'left': leftPositions[0]}"

    >
          <hole ng-style="{'width': slideWidth}" id="floating-content-0" index="index-1"></hole>
          <hole ng-style="{'width': slideWidth, 'left': leftPositions[1]}" id="floating-content-1" index="index"></hole>
          <hole ng-style="{'width': slideWidth, 'left': leftPositions[2]}" id="floating-content-2" index="index+1"></hole>


    </div>
