
.go-stroke-input {
    text-align: right;
    padding: 10px 0px;
    background: yellow;
    margin:0;


    .stroke-number-container {
      width: 100%;

      .stroke-number {
        font-size: 26px;
        margin-right: 5px;

        &.md-primary {
            color: rgb(139,195,74);
            font-weight: bold;
            font-size: 40px;
            margin-right: 2px;
        }

      }
    }

    .stroke-buttons-container {
      display: inherit;
    }
}
