/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

md-input-container {
  text-align: left;
  width: 250px;
  margin: 16px 0;
}

md-switch {
  padding: 35px 80px;
}

.md-track-ticks canvas { display: none; }

.go-custom {
    background-color: transparent !important;

    .go-text-color {
      color: rgba(0, 0, 0, 0.87);
    }
}

.go-button-right {
  position: absolute;
  right:0;
  margin-right:20px;
  color:white;
}

button {

  span {
    color: white;
  }
}

.two-inputs md-input-container {
  &.large {
    width: 176px;
  }
  &.small {
    width: 66px;
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
