/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.go-content {
    span {
          font-size: 16px;
    }

  position: relative;
  text-align: center;
  width: 300px;
  margin: auto;
}

.go-padding {
  padding: 16px;
}

.primary-text {
  color:rgb(139,195,74);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.go-padding-top {
    padding-top: 16px;
}

.go-border-bottom {
    border-bottom: 1px solid #ECECEC;
}

.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
