/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.go-content {
    position: relative;
    width:100%;
    text-align: center;
    margin: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    height: 100%;
    padding-bottom: 16px;

    span {
          font-size: 16px;
    }
}

.relative-top {
  position: relative;
  z-index: 10;
}

.go-padding {
  padding: 16px;
}

.primary-text {
  color:rgb(139,195,74);
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.padding-top {
    padding-top: 16px;
}

.margin-top {
  margin-top: 16px;
}

.go-border-bottom {
    border-bottom: 1px solid #ECECEC;
}

.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
