/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.well[ui-view]{

}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  background: white;
  z-index: 10;
  -webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale2d(250px, 0);
  -moz-transform:scale2d(250px, 0);
  transform:scale2d(250px, 0);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale2d(250px, 0);
  -moz-transform:scale2d(250px, 0);
  transform:scale2d(250px, 0);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  -webkit-transform:scale2d(250px, 0);
  -moz-transform:scale2d(250px, 0);
  transform:scale2d(250px, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 250px;*/
  -webkit-transform:scale2d(250px, 0);
  -moz-transform:scale2d(250px, 0);
  transform:scale2d(250px, 0);
}

/**

 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
