<div class="go-content setup">
      <section>
        <md-input-container>
          <label>Kenttä</label>
          <md-select ng-model="setup.model.course" ng-change="setup.setDefaultTee(setup.model.course)">
            <md-option ng-value="course" ng-repeat="course in setup.courses">{{ course.name }}</md-option>
          </md-select>
        </md-input-container>
      </section>

      <section>
        <md-input-container>
          <label>Aloitustii</label>
          <md-select ng-model="setup.model.tee">
            <md-option ng-value="tee" ng-repeat="tee in setup.model.course.tees">{{ tee.name + "-> " + tee.metre + "m" }}</md-option>
          </md-select>
        </md-input-container>
      </section>

      <section>
        <md-input-container>
          <label>Pelimuoto</label>
          <md-select ng-model="setup.model.gameMode">
            <md-option value="setup.gameModes[0]" ng-value="mode" ng-repeat="mode in setup.gameModes">{{ mode.name }}</md-option>
          </md-select>
        </md-input-container>
      </section>

      <section>
          <div class="two-inputs" ng-repeat="index in setup.maxPlayers track by $index">
            <md-input-container class="large">
              <label>Pelaaja {{$index+1}}</label>
              <input type="text" ng-model="setup.model.players[$index].name" ng-blur="setup.setDefaultHCP(setup.model.players[$index])">
            </md-input-container>
            <md-input-container class="small">
              <label>Tasoitus</label>
              <input type="number" ng-model="setup.model.players[$index].hcp">
            </md-input-container>
          </div>
      </section>

      <section>
          <md-button class="md-fab md-primary go-play" ng-click="setup.accept()">Pelaa</md-button>
      </section>
</div>
