/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


/*
  &.player-1 {
    background: linear-gradient(141deg, #F4FFF0 0%, #fff 50%, #F4FFF0 60%);
  }
  &.player-2 {
    background: linear-gradient(141deg, #F0F1FF 0%, #fff 50%, #F0F1FF 60%);
  }
  &.player-3 {
    background: linear-gradient(141deg, #FFFAE7 0%, #fff 50%, #FFFAE7 60%);
  }
  &.player-4 {
    background: linear-gradient(141deg, #FFF0F0 0%, #fff 50%, #FFF0F0 60%);
  }
  */

.go-content {
  //padding-bottom:100px;
}

.player-1 {
  //background: rgba(196, 231, 154, 0.1);
  background: #FBFFFA;
}

.player-2 {
  background: #FAFCFF;
}

.player-3 {
  background: #FEFAFF;
}

.player-4 {
  background: #FFFEFA;
}

.drive-icon {
  padding: 4px;
}


.hole-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;

  &:hover {
    color: rgb(139,195,74);
  }
}

.drive {
    color: rgb(139,195,74);
    padding: 15px;
    font-size: 30px;
}

.go-active {
    color: green;
}

.nav-container {
  width: 50%;
}

.player-icon {
  outline: none;
  border: none;
}

.players-count-1 {
  width: 100%;
}

.players-count-2 {
  width: 50%;
}

.players-count-3 {
  width: 33%;
}

.players-count-4 {
  width: 25%;
}

.score-content {
  height: 100%;
}

.no-result-text {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 100px;
  display: block;
  opacity: 1;
  text-align: center;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  span {
    display:block;
    height:100%;
    color: rgb(204, 204, 204);
    font-size: 50px;
    text-shadow: rgb(71, 71, 71) -1px -1px 1px;
  }

}

.no-result-hide {
  opacity: 0;
}

.slide {
  opacity: 1;
  display:block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  &.slide[turn=right].ng-enter {
    position: absolute;
    display:block;
    width:100%;
    transform:translate3d(100%, 0, 0);
  }

  &.slide[turn=right].ng-leave {
    opacity:0;
  }

  &.slide[turn=right].ng-enter.ng-enter-active {
    transform:translate3d(0, 0, 0);
  }

  &.slide[turn=right].ng-leave.ng-leave-active {
    transform:translate3d(-100%, 0, 0);
  }

  &.slide[turn=left].ng-enter {
    position: absolute;
    display:block;
    width:100%;
    transform:translate3d(-100%, 0, 0);
  }

  &.slide[turn=left].ng-leave {
    opacity:0;
  }

  &.slide[turn=left].ng-enter.ng-enter-active {
    transform:translate3d(0, 0, 0);
  }

  &.slide[turn=left].ng-leave.ng-leave-active {
    transform:translate3d(100%, 0, 0);
  }

}

.stroke-content {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hide-stroke-content {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform:translate3d(0, -110%, 0);
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
